.requests-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 15px;
  width:90%;
  height: 85%;
  
}


.request-card {
  flex: 0 0 48%; /* Adjust the width to fit two columns with some space between */
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  font-size: 1.2em;
align-items: center;
  text-align: center;
}

.deleteCard{
  position: absolute;
  font-size: 1.2em;
align-items: right;
  text-align: center;
  display: flex;
  height: 441px;
 
}
.copy-box {
  cursor: pointer;
  padding: 2px 5px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
}

.copy-box.copied {
  background-color: red;
  color: white;
}

@media (max-width: 768px) {
  .request-card {
    flex: 0 0 100%; /* Stack cards on smaller screens */
  }
}

.requests-container textarea {

  font-size: 1.6em;
}